__pycache__/
*.py[cod]
*.log
*.sqlite
.env
.env.local
.env.development
.env.test
.env.production
.venv/
venv/
ENV/
instance/
.webassets-cache
.coverage
.coverage.*
htmlcov/
.pytest_cache/
node_modules/
dist/
build/
out/
.DS_Store
*.dockerfile
*.env
*.project
*.tmproj
*.bak
*.swp
*.swo
.vscode/
.idea/
*.iml
*.db
*.sql
*.csv
*.parquet
*.pickle
*.pkl
*.joblib
